.ui.celled.table tr.header th{
    border-left: none;
}




.clickable.selected-spec, .clickable.selected-spec:hover{
    background-color: #21BA45;
    cursor: pointer;
}

.clickable.selected-sondaz:hover{
    background-color: white;
    cursor: default;
}