<h1>Sondaże</h1>
<div class="ui segment" *ngFor="let survey of sondazList">
  <div class="ui grid clickable" [class.selected-sondaz]="survey.id === sondazSelected?.id">
    <div class="row" (click)="showSurvey(survey.id)">
      <div class="eight wide column">
        <h5>{{survey.nazwa}}</h5>
      </div>
      <div class="four wide column">
        <p>Data utw: {{survey.dataUtw | date:"dd.MM.yyyy"}}</p>
      </div>
      <div class="four wide column">
        <p>Status: {{survey.statusSondazu}}</p>
      </div>
    </div>

    <div class="row" *ngIf="sondazSelectedId === survey.id">
      <div class="eight wide column">
        <p>Data rozp: {{survey.dataRozp | date:"dd.MM.yyyy"}}</p>
      </div>
      <div class="eight wide column">
        <p>Data zak: {{survey.dataZak | date:"dd.MM.yyyy"}}</p>
      </div>
      <div class="sixteen wide column">
        <p></p>
        <p>Opis: {{survey.opis}}</p>
      </div>
      <div class="sixteen wide column">
        <p></p>
        <b>Propozycje:</b>
      </div>
      <div class="sixteen wide column">
        <table class="ui basic table">
          <tbody>
          <template ngFor let-spacjalnosc [ngForOf]="survey?.specjalnosci">
          <tr  class="clickable" [class.selected-spec]="spacjalnosc.id === survey.selectedSpecId">
            <td (click)="selectSpec(spacjalnosc.id)">{{spacjalnosc.nazwa}}</td>
            <td><i class="file pdf outline icon" data-content="Opis specjalizacji" (click)="showPopup()"></i><a href="{{spacjalnosc.pdfLink}}">Pobierz opis w PDF</a></td>
          </tr>
          </template>
          </tbody>
        </table>
      </div>
      <div class="sixteen wide column">
        <p></p>
        <div class="ui right floated primary button pdf" (click)="closeSurvey()" *ngIf="survey?.statusSondazu === 'Aktywny'">
          Wybierz
        </div>
      </div>
    </div>
  </div>
</div>