

<div class="ui segments">
  <div class="ui segment">
    <h5>Sondaż specjalności na wydziale Informatyki i Zarządzania...</h5>
    <div class="ui divider"></div>

    <b i18n>Propozycje:</b>
    <table class="ui basic table">
      <tbody>
      <tr>
        <td>Inżynieria Oprogramowania</td>
        <td><i class="file pdf outline icon" data-content="Opis specjalizacji" (click)="showPopup()"></i></td>
      </tr>
      <tr>
        <td>Systemy Wspomagania Decyzji</td>
        <td><i class="file pdf outline icon"></i></td>
      </tr>
      <tr>
        <td>Systemy Informacyjne</td>
        <td><i class="file pdf outline icon"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="ui segment">
    <p>Middle</p>
  </div>
  <div class="ui segment">
    <p>Middle</p>
  </div>
  <div class="ui segment">
    <p>Middle</p>
  </div>
  <div class="ui segment">
    <p>Bottom</p>
  </div>
</div>


<div class="ui divided items">
  <div class="item">
    <div class="content">
      <a class="header">Sondaż specjalności na wydziale Informatyki i Zarządzania...</a>
      <div class="meta">
        <span class="cinema">IFC Cinema</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button" i18n>
          Wybierz
        </div>
        <div class="ui label">Limited</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a class="header">Watchmen</a>
      <div class="meta">
        <span class="cinema">IFC</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Buy tickets
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui right floated primary button pdf" (click)="showPopup()" i18n>
  Wybierz
</div>