<h1>Powierzenia</h1>
<div class="ui segment" *ngFor="let powierzenie of powierzenia">
    <div class="ui grid">
        <div class="row">
            <div class="four wide column">
                {{powierzenie.semestr}}
            </div>
            <div class="four wide column">
                {{powierzenie.wydzial}}, {{powierzenie.kierunek}}
            </div>
            <div class="four wide column">
                Data utw. {{powierzenie.dataUtworzenia | date:"dd.MM.yyyy"}}
            </div>
            <div class="four wide column">
                Status: {{powierzenie.statusPowierzenWSemestrze}}
            </div>
        </div>
        <div class="row">
            <div class="five wide column">
                Data przesłania do akc.:{{powierzenie.dataPrzeslania | date:"dd.MM.yyyy"}}
            </div>
            <div class="five wide column">
                Data akceptacji: {{powierzenie.dataAkceptacji | date:"dd.MM.yyyy"}}
            </div>
            <div class="five wide column">
                Status akceptacji: {{powierzenie.postepAkceptacji}}
            </div>
        </div>
        <div class="row" *ngIf="powierzenie.statusPowierzenWSemestrze === statusPowierzen?.WersjaRobocza">
            <div class="sixteen wide column">
                <a href="#">Edytuj</a>
                <a href="#">Usuń</a>
            </div>
        </div>

        <div class="row">
            <div class="sixteen wide column" *ngIf="powierzenie.statusPowierzenWSemestrze === statusPowierzen?.Zaakceptowane">
                <a href="#">Przeglądaj powierzenia</a>
                <a href="#">Generuj raport</a>
            </div>
        </div>
    </div>
</div>
