<h1>Powierzenia</h1>

<form class="ui form">
  <div class="inline fields">
    <div class="two wide field">
      <label i18n>Semestr</label>
    </div>
    <div class="fourteen wide field">
      <select class="ui fluid dropdown">
        <option value="">Opcja1</option>
        <option value="AL">Opcja2</option>
      </select>
    </div>
  </div>
  <div class="inline fields">
    <div class="two wide field">
      <label i18n>Wydział</label>
    </div>
    <div class="fourteen wide field">
      <select class="ui fluid dropdown">
        <option value="">Opcja1</option>
        <option value="AL">Opcja2</option>
      </select>
    </div>
  </div>
  <div class="inline fields">
    <div class="two wide field">
      <label i18n>Kierunek</label>
    </div>
    <div class="fourteen wide field">
      <select class="ui fluid dropdown">
        <option value="">Opcja1</option>
        <option value="AL">Opcja2</option>
      </select>
    </div>
  </div>
</form>
<h3 i18n>Kursy</h3>
<table class="ui celled table">
  <thead>
  <tr>
    <th i18n>Typ studiów</th>
    <th i18n>Kurs</th>
    <th i18n>Forma</th>
    <th i18n>Sem. nr</th>
    <th i18n>Zapotrzebowanie</th>
    <th i18n>Przydzielono</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Typ studiów</td>
    <td>Kurs</td>
    <td>Forma</td>
    <td>Sem. nr</td>
    <td>Zapotrzebowanie</td>
    <td>Przydzielono</td>
  </tr>
  <tr>
    <td>Typ studiów</td>
    <td>Kurs</td>
    <td>Forma</td>
    <td>Sem. nr</td>
    <td>Zapotrzebowanie</td>
    <td>Przydzielono</td>
  </tr>
  </tbody>
</table>

