<div class="ui one column centered grid">
    <div class="column">
        <div class="row">
            <div class="column">
                <h1>Nowa edukacja</h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img class="ui tiny circular image" src="assets/images/dariusz.jpg">
                <h3>Adam Małysz</h3>
            </div>
        </div>
    </div>
</div>
<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui vertical menu">
                <a class="active teal item" i18n>
                    <i class="alarm outline icon"></i>
                    Wiadomości
                    <div class="ui label">11</div>
                </a>
                <a class="item" i18n>
                    Oceny
                    <i class="checkmark icon"></i>
                </a>
                <a class="item" i18n>
                    <i class="newspaper icon"></i>
                    Dokumenty
                </a>
                <a class="item" i18n>
                    <i class="book icon"></i>
                    Moje sprawy
                </a>
                <a class="item" i18n>
                    <i class="help icon"></i>
                    Sondaże
                </a>
                <a class="item" i18n>
                    <i class="pointing right icon"></i>
                    Powierzenia
                </a>
            </div>

        </div>
    </div>
</div>

