<div class="ui container">
    <div class="ui two column grid">
        <div class="four wide column">
            <app-user-panel></app-user-panel>
        </div>
        <div class="twelve wide column">
            <app-designation-acceptation></app-designation-acceptation>
            <!--<router-outlet></router-outlet>-->
            <!--<app-login-panel></app-login-panel>-->
            <!--<app-survey></app-survey>-->
            <!--<app-designation-details></app-designation-details>-->
            <!--<app-designation></app-designation>-->
        </div>
    </div>
</div>
